<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mushrooms4All</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
<link href="{{ url_for('static',filename='sticky-footer-navbar.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<link href="sticky-footer.css" rel="stylesheet">
</head>

<body>

    {% include 'includes/_navbar.html' %}
    <div class="container">
        {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
    </div>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

<footer class="footer">
        <div class="footer-copyright text-center py-3">© 2018 Copyright     
                Made with <i class="icon ion-heart"></i> by the Mushrooms4All Team.
        </div>
      </footer>

</html>
‹