{% extends 'layout.html' %}

{% block body %}

<form action="" method="POST" role="form">
  <div class="row">
      <div class="col-sm-3">
          <div class="form-group">
              <label for="cap.shape">Capshape:</label>
              <select class="form-control" id="cap.shape" name='capshape'>
                <option value="b">Bell</option>
                <option value="c">Conical</option>
                <option value="f">Flat</option>
                <option value="k">Knobbed</option>
                <option value="s">Sunken</option>
                <option value="x">Convex</option>
              </select>
            </div>
            <div class="form-group">
              <label for="cap.surface">Cap surface</label>
              <select class="form-control" id="cap.surface" name="capsurface">
                <option value="f">Fibrous</option>
                <option value="g">Grooves</option>
                <option value="s">Smooth</option>
                <option value="y">Scaly</option>
              </select>
            </div>
            <div class="form-group">
              <label for="cap.color">Cap color</label>
              <select class="form-control" id="cap.color" name="capcolor">
                <option value="b">Buff</option>
                <option value="c">Cinnamon</option>
                <option value="e">Red</option>
                <option value="g">Gray</option>
                <option value="n">Brown</option>
                <option value="p">Pink</option>
                <option value="r">Green</option>
                <option value="u">Purple</option>
                <option value="w">White</option>
                <option value="y">Yellow</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Bruises">Bruises</label>
              <select class="form-control" id="Bruises" name="bruises">
                <option value="f">No</option>
                <option value="t">Bruises</option>
              </select>
            </div>
            <div class="form-group">
              <label for="odor">Odor</label>
              <select class="form-control" id="odor" name="odor">
                <option value="a">Almond</option>
                <option value="c">Creosote</option>
                <option value="f">Foul</option>
                <option value="l">Anise</option>
                <option value="m">Musty</option>
                <option value="n">None</option>
                <option value="p">Pungent</option>
                <option value="s">Spicy</option>
                <option value="y">Fishy</option>
              </select>
            </div>
            <div class="form-group">
              <label for="gill.attachment">Gill attachment</label>
              <select class="form-control" id="gill.attachment" name="gillattachment">
                <option value="a">Attached</option>
                <option value="d">Descending</option>
                <option value="f">Free</option>
                <option value="n">Notched</option>
              </select>
            </div>
            <div class="form-group">
              <label for="gill.spacing">Gill spacing</label>
              <select class="form-control" id="gill.spacing" name="gillspacing">
                <option value="c">Close</option>
                <option value="w">Crowded</option>
                <option value="d">Distant</option>
              </select>
            </div>
            <div class="form-group">
              <label for="gill.size">Gill size</label>
              <select class="form-control" id="gill.size" name="gillsize">
                <option value="b">Broad</option>
                <option value="n">Narrow</option>
              </select>
            </div>
            <div class="form-group">
              <label for="gill.color">Gill color</label>
              <select class="form-control" id="gill.color" name="gillcolor">
                <option value="b">Buff</option>
                <option value="e">Red</option>
                <option value="g">Gray</option>
                <option value="h">Chocolate</option>
                <option value="k">Black</option>
                <option value="n">Brown</option>
                <option value="o">Orange</option>
                <option value="p">Pink</option>
                <option value="r">Green</option>
                <option value="u">Purple</option>
                <option value="w">White</option>
                <option value="y">Yellow</option>
              </select>
            </div>
            <div class="form-group">
              <label for="stalk.shape">Stalk shape</label>
              <select class="form-control" id="stalk.shape" name="stalkshape">
                <option value="e">Enlarging</option>
                <option value="y">Tapering</option>
              </select>
            </div>
            <div class="form-group">
                <label for="stalk.root">Stalk root</label>
                <select class="form-control" id="stalk.root" name="stalkroot">
                  <option value="b">Bulbous</option>
                  <option value="c">Club</option>
                  <option value="r">Rooted</option>
                  <option value="e">Equal</option>
                  <option value="z">Rhizomorphs</option>
                  <option value="?">Missing</option>
                </select>
              </div>
      </div>
      <div class="col-sm-6">
          <div class="text-center">
             <img src="{{ url_for('static',filename='mushroom_explained.png') }}" class="img-fluid"  width="580" height="700"/>        
         </div>   
     </div>
      <div class="col-sm-3">
          
            <div class="form-group">
              <label for="stalk.surface.above.the.ring">Stalk surface above the ring</label>
              <select class="form-control" id="stalk.surface.above.the.ring" name="stalksurfaceabovethering">
                <option value="f">Fibrous</option>
                <option value="k">Silky</option>
                <option value="s">Smooth</option>
                <option value="y">Scaly</option>
              </select>
            </div>
            <div class="form-group">
              <label for="stalk.surface.below.the.ring">Stalk surface below the ring</label>
              <select class="form-control" id="stalk.surface.below.the.ring" name="stalksurfacebelowthering">
                <option value="f">Fibrous</option>
                <option value="k">Silky</option>
                <option value="s">Smooth</option>
                <option value="y">Scaly</option>
              </select>
            </div>
            <div class="form-group">
              <label for="stalk.color.above.the.ring">Stalk color above the ring</label>
              <select class="form-control" id="stalk.color.above.the.ring" name="stalkcolorabovethering">
                <option value="b">Buff</option>
                <option value="c">Cinnamon</option>
                <option value="e">Red</option>
                <option value="g">Gray</option>
                <option value="n">Brown</option>
                <option value="o">Orange</option>
                <option value="p">Pink</option>
                <option value="w">White</option>
                <option value="y">Yellow</option>
              </select>
            </div>
            <div class="form-group">
              <label for="stalk.color.below.the.ring">Stalk color below the ring</label>
              <select class="form-control" id="stalk.color.below.the.ring" name="stalkcolorbelowthering">
                <option value="b">Buff</option>
                <option value="c">Cinnamon</option>
                <option value="e">Red</option>
                <option value="g">Gray</option>
                <option value="n">Brown</option>
                <option value="o">Orange</option>
                <option value="p">Pink</option>
                <option value="w">White</option>
                <option value="y">Yellow</option>
              </select>
            </div>
            <div class="form-group">
              <label for="veil.type">Veil type</label>
              <select class="form-control" id="veil.type" name="veiltype">
                <option value="p">Partial</option>
                <option value="u">Universal</option>
              </select>
            </div>
            <div class="form-group">
              <label for="veil.color">Veil color</label>
              <select class="form-control" id="veil.color" name="veilcolor">
                <option value="n">Brown</option>
                <option value="o">Orange</option>
                <option value="w">White</option>
                <option value="y">Yellow</option>
              </select>
            </div>
            <div class="form-group">
              <label for="ring.number">Ring number</label>
              <select class="form-control" id="ring.number" name="ringnumber">
                <option value="n">None</option>
                <option value="o">One</option>
                <option value="t">Two</option>
              </select>
            </div>
            <div class="form-group">
                <label for="ring.type">Ring Type</label>
                <select class="form-control" id="ring.type" name="ringtype">
                  <option value="c">Cobwebby</option>
                  <option value="e">Evanescent</option>
                  <option value="f">Flaring</option>
                  <option value="l">Large</option>
                  <option value="n">None</option>
                  <option value="p">Pendant</option>
                  <option value="s">Seathing</option>
                  <option value="z">Zone</option>
                </select>
              </div>
            <div class="form-group">
              <label for="spore.print.color">Spore print color</label>
              <select class="form-control" id="spore.print.color" name="sporeprintcolor">
                  <option value="b">Buff</option>
                  <option value="h">Chocolate</option>
                  <option value="k">Black</option>
                  <option value="n">Brown</option>n</option>
                  <option value="o">Orange</option>
                  <option value="r">Green</option>
                  <option value="u">Purple</option>
                  <option value="w">White</option>
                  <option value="y">Yellow</option>
              </select>
            </div>
            <div class="form-group">
              <label for="population">Population</label>
              <select class="form-control" id="population" name="population">
                <option value="a">Abundant</option>
                <option value="c">Clustered</option>
                <option value="n">Numerous</option>
                <option value="s">Scattered</option>
                <option value="v">Several</option>
                <option value="y">Solitary</option>
              </select>
            </div>
            <div class="form-group">
              <label for="habitat">Habitat</label>
              <select class="form-control" id="habitat" name="habitat">
                  <option value="g">Grasses</option>
                  <option value="l">Leaves</option>
                  <option value="m">Meadows</option>
                  <option value="p">Paths</option>
                  <option value="w">Waste</option>
                  <option value="d">Woods</option>
              </select>
        </div>
  </div>
</div>  
  <div class="text-center">
      <button type="submit" value="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>
{% endblock %}